---
import Layout from '@components/Layout.astro'
import Features from '@components/Features.astro'
import HeroSection from '@components/HeroSection.astro'
import HowToUse from '@components/HowToUse.astro'
import Footer from '../xsl/partials/footer.html'
---

<Layout>
  <HeroSection />
  <HowToUse />
  <Features />
  <section class="m-auto max-w-5xl p-6">
    <Footer />
  </section>
</Layout>
